@import 'variables';
@import 'mixins';

.page-footer {
    background-color: color(neutral-dark);
    color: color(neutral-light);
    display: flex;
    flex-flow: column wrap;
    font-size: 1.4rem;
    justify-content: center;

    @include desktop {
        text-align: center;
    }

    @include phone {
        text-align: left;
    }

    .boxed {
        margin: 0 auto;
        max-width: 90%;
        opacity: 0.85;
        width: 90rem;

        @include desktop {
            padding: 0;
        }
    }

    a {
        color: color(cyan);

        &:active,
        &:focus,
        &:hover {
            color: rgba(color(cyan), 0.5);
        }
    }

    .hero-quote {
        @include constrained-variable-text(5.5, 0.2);

        font-weight: bold;
        letter-spacing: -0.2rem;
        line-height: 1;
        padding: 3rem 0;

        .narrow-block {
            display: inline-block;
        }
    }

    .copyright {
        flex-wrap: wrap;

        @include desktop {
            padding: 0 5rem 1rem;
        }

        ul {
            display: flex;
            flex-flow: row wrap;
            margin: 0 0 2rem;
            padding: 0;

            @include desktop {
                justify-content: center;
            }
        }

        li > a {
            padding-right: 1.5rem;
        }

        p {
            margin: 2rem auto;
        }
    }

    .social {

        a {
            background-size: 130%;
            height: 5rem;
            margin: 1rem;
            width: 5rem;

            &:hover {
                background-color: rgba(color(neutral-light), 0.7);
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
        }
    }
}
