@import 'variables';
@import 'mixins';

.add-another {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 8rem 0;
    text-align: center;

    h2 {
        font-size: 2.4rem;
        margin-bottom: 3rem;

        small {
            color: color(neutral-light);
            font-size: 1.6rem;
            font-weight: normal;
            letter-spacing: normal;
            padding-top: 3rem;
        }
    }

    .btn {
        background-color: color(orange);
        color: white;
        flex: 1 1 auto;
        margin: 1rem auto 0;
        max-width: 28rem;
        min-width: 25rem;
        padding: 1.5rem 2rem;

        &.btn-secondary {
            background-color: color(cyan);
        }
    }
}
