@import 'mixins';

.quote-bucket .image {
    background-repeat: no-repeat;
}

.bucket {
    display: flex;

    &.full {
        text-align: center;

        @include collapsed {
            text-align: left;
        }

        .quote {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include collapsed {
                align-items: flex-start;
                justify-content: flex-start;
            }

            .blurb {
                margin: 0 auto;
                max-width: 50%;

                @include collapsed {
                    margin: 0;
                    max-width: 100%;
                }
            }
        }
    }

    &.left {
        > .image {
            order: 2;

            @include collapsed {
                order: 1;
            }
        }

        > .quote {
            order: 1;
        }
    }

    &.right {
        > .image {
            order: 1;
        }

        > .quote {
            order: 2;
        }
    }

    .image {
        flex: 1 1 17rem;
        max-width: 47rem;

        @include collapsed {
            max-width: none;
            min-height: 32rem;
        }
    }

    .quote {
        flex: 2 0;
        padding: 3rem;
        position: relative;

        .title {
            @include constrained-variable-text(4.8, 0.2);

            display: block;
            font-weight: 700;
            letter-spacing: -0.02em; // Because font scales
            line-height: 1;
            margin-bottom: 1.2rem;
            max-width: 100%;
        }

        .blurb {
            @include constrained-variable-text(1.8, 0.2);

            display: block;
            line-height: 1.75;
        }

        .btn {
            font-size: 1.8rem;
            margin-top: 2.5rem;
            padding: 1.5rem 2rem;
        }
    }
}
