@import 'variables';
@import 'mixins';

@mixin phone {
    @media (max-width: 640px) {
        @content;
    }
}

$text-secondary: rgba(color(neutral-darkest), 0.7);

form {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;

    label,
    p {
        color: color(primary);
    }

    a {
        color: color(cyan);
        text-decoration: none;
    }

    small {
        color: rgba(color(neutral-light), 0.5);
        font-size: 1.1rem;
        font-style: italic;
        font-weight: 300;
        padding-left: 0.313rem;
    }

    .subhead {
        font-size: 1.7rem;
        font-weight: 400;
        text-align: center;
    }

    [type="submit"] {
        appearance: none;
        background-color: color(primary);
        border: 0;
        border-radius: 0;
        color: color(neutral-lightest);
        float: right;
        font-size: 1.8rem;
        font-weight: 600;
        margin: 0.84rem 0;
        padding: 1rem 2rem;
        width: 15rem;
    }

    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 auto;
        padding: 8rem 0;

        &.top-of-form {
            padding-top: 0;
        }

        .col {
            display: inline-block;
            flex: 1 1 32rem;
            max-width: 50%; // important for ellipsis on inputs
            padding: 0 1.5rem;

            @include phone {
                flex: 1 1 auto;
                max-width: 100%;
            }
        }
    }

    fieldset {
        border: 0;
    }

    label {
        display: block;
        margin: 2rem 0;
    }

    .invalid-message {
        color: color(danger);
        font-style: italic;
    }

    &.labeled-inputs {
        border: 0;
        border-spacing: 0.5rem;
        display: table;

        label,
        .form-item {
            color: color(primary);
            display: flex;

            > span,
            > input {
                font-weight: 500;
            }

            > span {
                flex-basis: 11rem;
            }

            > input {
                flex-grow: 1;
            }
        }
    }

    &.labeled-buttons {
        border: 0;

        > label {
            display: block;
        }
    }

    .labeled-buttons label {
        display: block;

        .short {
            height: 2.1rem;
            width: 8rem;
        }
    }

    .validation-message {
        display: none;
    }

    .invalid > .validation-message {
        background-color: none;
        color: color(danger);
        display: block;
    }

    [type="text"],
    [type="number"],
    [type="email"],
    [type="date"],
    textarea,
    .selected-button {
        appearance: none;
        border: 0.1rem solid rgba(color(gray), 0.2);
        border-radius: 0;
        color: color(neutral-dark);
        display: inline-block;
        font-family: inherit;
        font-size: 1.6rem;
        font-weight: 500;
        height: 4.8rem;
        overflow: hidden;
        padding: 0.84rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;

        &:focus {
            border-bottom: solid color(cyan) 0.2rem;
            outline: 0;
        }

        &.visited:invalid {
            border-bottom: solid color(danger) 0.2rem;
            outline: 0;
        }
    }

    textarea {
        height: 21.42rem;
        overflow-y: auto;
        white-space: normal;
    }

    .select-instructions {
        font-size: 1.2rem;
        font-style: italic;
        opacity: 0.8;
    }

    [type="date"] {
        appearance: none;
    }

    .btn {
        margin-top: 3rem;
    }

    .wrapper {
        background-color: rgba(color(neutral-lighter), 0.2);

        .strips {
            margin-bottom: 0;
        }
    }
}
