@import 'variables';
@import 'mixins';

h1,
h2,
h3,
h4 {
    color: $text-dark;
    font-weight: bold;
    margin-bottom: 1rem;
}

h1 {
    @include constrained-variable-text(4.8, 0.2);

    letter-spacing: -0.2rem;
    line-height: 1.05;
}

h2 {
    font-size: 3.6rem;
    letter-spacing: -0.2rem;
    line-height: 4rem;
    margin-top: 2rem;
}

h3 {
    font-size: 2.1rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
}

h4 {
    color: color(primary);
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 1rem;
}
