@import 'variables';
@import 'mixins';

.details-page {
    position: relative;

    h1 {
        word-wrap: break-word;

        @media (min-width: 500px) {
            margin-top: 0;
        }
    }

    h2,
    h3,
    h4 {
        letter-spacing: -0.1rem;
    }

    .row p a {
        font-weight: bolder;
    }

    .table-of-contents-link {
        cursor: pointer;
    }

    .table-of-contents {
        background-color: rgba(color(neutral-lightest), 0.97);
        bottom: 0;
        height: 100%;
        left: 0;
        opacity: 1;
        position: fixed;
        right: 0;
        top: 0;
        transition: opacity 0.3s;
        width: 100%;
        z-index: 100;

        @include desktop {
            background-color: rgba(color(neutral-dark), 0.93);
        }

        ol {
            list-style: none;
            margin: 0;
            padding: 0;

            ol {
                padding-left: 2rem;
            }
        }

        &.hidden {
            display: initial;
            height: 0;
            opacity: 0;
            overflow: hidden;
            width: 0;
        }

        .toc-remover {
            @include absolute(top 0.5rem right 0.5rem);

            cursor: pointer;
        }

        .box {
            font-weight: 500;
            max-height: 100vh;
            overflow-y: auto;
            padding: 3rem;
            position: absolute;

            @include desktop {
                background-color: rgba(color(neutral-lightest), 0.97);
                left: 50%;
                max-height: 50rem;
                max-width: 60rem;
                top: 50%;
                transform: translate3d(-50%, -50%, 0);
                width: 100%;
            }

            .subunit {
                font-weight: 300;
            }

        }
    }

    .container {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto;
        max-width: $boxed-width;
        padding: 0 1.5rem;

        @include tablet {
            flex-flow: row wrap;
        }

        @include desktop {
            flex-flow: row wrap;
        }
    }

    .cta > .btn {
        font-variant: normal;
        padding: 1.5rem;
        text-transform: uppercase;
        width: 100%;
    }

    .btn:hover,
    .btn:focus {
        background-color: darken(color(orange), 5%);
        transform: scale3d(1, 1, 1);
    }

    .btn.hidden {
        display: none;
    }

    .book-info {
        justify-content: space-between;
        margin-bottom: 6rem;

        @media (min-width: 500px) {
            margin: 6rem auto;
        }

        .cover-wrap {
            align-self: flex-start;
            margin: 0 -1.5rem 3rem;
            order: 1;
            position: relative;
            width: 100vw;

            @media (min-width: 500px) {
                margin: 0 1.5rem 3rem 0;
                width: 25rem;
            }

            @include desktop {
                width: 25rem;
            }

            &.coming-soon::before {
                @include coming-soon;
            }

            > img {
                width: 100%;
            }
        }

        .floating-menu {
            flex: 1 auto;
            margin-bottom: 3rem;
            order: 2;

            @media (min-width: 500px) {
                flex: 0 0 auto;
                width: 20rem;
            }

            @include desktop {
                left: 50%;
                margin-bottom: 0;
                max-width: 120rem;
                order: 3;
                position: fixed;
                top: 15rem;
                transform: translate3d(-50%, 0, 0);
                width: 100%;
                z-index: 1;
            }

            &.bottom {
                bottom: 0;
                position: absolute;
                top: auto;
                z-index: 0;

                .box {
                    left: calc(100% - 26.5rem);
                    position: relative;
                    right: auto;
                    top: 0;
                }
            }

            .box {
                @include desktop {
                    background-color: rgba(color(neutral-lightest), 0.95);
                    padding: 1.5rem;
                    position: absolute;
                    right: 1.5rem;
                    top: 0;
                    width: 25rem;
                }
            }

            .notes {
                color: color(gray);
            }

            .cta {
                color: color(gray);

                .btn:last-child {
                    background-color: color(neutral-medium);
                    margin-top: 1rem;

                    &:hover,
                    &:focus {
                        background-color: darken(color(neutral-medium), 5%);
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }

        .details {
            font-size: 1.6rem;
            line-height: 2.6rem;
            order: 3;

            @include tablet {
                flex: 1 100%;
            }

            @include desktop {
                flex: 1 0;
                order: 2;
                padding: 0 25rem 0 0;
            }

            @media (min-width: 830px) {
                padding-left: 1.5rem;
            }

            h1 {
                line-height: 1;
            }

            a {
                color: color(cyan);

                &:hover {
                    color: darken(color(cyan), 10%);
                }
            }
        }

        .tabs {
            a:not(:last-child)::after {
                color: color(neutral-dark);
                content: ' | ';
                display: inline;
            }
        }

        .links {
            margin: 1rem 0;

            a {
                position: relative;

                &::before,
                &::after {
                    border-right: 0.2rem solid;
                    content: '';
                    display: block;
                    height: 0.7rem;
                    margin-top: -0.2rem;
                    position: absolute;
                    right: -1.3rem;
                    top: 50%;
                    transform: rotate3d(0, 0, 1, 135deg);
                    width: 0;
                }

                &::after {
                    right: -1.7rem;
                    transform: rotate3d(0, 0, 1, 45deg);
                }
            }
        }
    }

    .endorsement {
        background-color: color(green);
        color: color(neutral-lightest);

        blockquote {
            position: relative;
            quotes: '\201C''\201D''\2018''\2019';

            @include desktop {
                margin-left: 7.5rem;
            }

            &::before {
                color: color(gold);
                content: open-quote;
                font-size: 15rem;
                left: -5.5rem;
                line-height: 0;
                position: absolute;
                top: 6rem;

                @include desktop {
                    font-size: 18rem;
                    left: -9rem;
                    top: 7rem;
                }
            }

            p {
                font-size: 3.2rem;
                font-style: italic;
                font-weight: 500;
                letter-spacing: -0.15rem;
                line-height: 5rem;
                margin: 0 0 3rem;

                @include phone {
                    font-size: 2.6rem;
                    letter-spacing: -0.1rem;
                    line-height: 4rem;
                }

                @include tablet {
                    font-size: 2.9rem;
                    letter-spacing: -0.1rem;
                    line-height: 4.5rem;
                }
            }

            .attribution {
                display: flex;
                flex-direction: column;
                font-size: 2.1rem;
                justify-content: flex-end;
                letter-spacing: normal;
                line-height: 2.5rem;
                margin-top: 2.5rem;
                text-align: right;

                @include phone {
                    font-size: 1.7rem;
                    line-height: 2rem;
                    margin-top: 2rem;
                }
            }
        }

        .container {
            padding: 6rem 1.5rem;

            @include desktop {
                padding: 6rem 25rem 6rem 1.5rem;
            }
        }
    }

    .strips {
        margin: 0;
    }

    .resources {
        background-color: lighten(color(neutral-lighter), 8%);
        font-size: 1.6rem;
        line-height: 2.6rem;

        h2 {
            margin-bottom: 0;
        }

        .container {
            padding: 6rem 1.5rem;

            @include desktop {
                padding: 6rem 27.5rem 6rem 1.5rem;
            }
        }

        .row {
            flex: 1 auto;
            margin-bottom: 2.5rem;
        }

        .student-resources-cta {
            background-color: color(gold);
            background-image: url('/images/details/student-resources-bg-lg.jpg');
            background-position: left 70%;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            min-height: 60rem;
            transition: All ease-in-out 0.3s;

            @include phone {
                min-height: 70rem;
            }

            @media screen and (min-width: 1920px) {
                background-position: right 40%;
            }

            .container {
                width: 100%;
            }

            .caption {
                align-items: flex-start;
                display: flex;
                flex-flow: column wrap;
            }

            h2 {
                color: color(blue);
                font-size: 3.6rem;
                margin-bottom: 3rem;
                max-width: 56rem;
                width: 100%;
            }

            a {
                background-color: color(yellow);
                padding: 1.5rem 3rem;

                &:hover {
                    background-color: darken(color(yellow), 5%);
                }
            }
        }

    }

    .resource {
        display: flex;
        flex-flow: column nowrap;

        @media (min-width: #{breakpoints(phone) + 1}) {
            flex-flow: row wrap;
        }

        > div {
            background-color: color(neutral-lightest);
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            margin-bottom: 1.5rem;
            padding: 1.5rem;
            position: relative;

            @media (min-width: #{breakpoints(phone) + 1}) {
                flex: 0 0 48%;

                &:nth-child(odd):not(:only-child):not(:last-child) {
                    margin-right: 1.5rem;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            @media (min-width: 900px) {
                flex: 1 0 28%;
                margin-right: 1.5rem;
                max-width: 31%;
            }

            h4 {
                color: color(blue);
                margin-bottom: 1rem;
            }

            .link-and-lock {
                align-items: flex-end;
                display: flex;
                justify-content: space-between;

                a {
                    color: color(cyan);
                    font-size: 1.4rem;
                    font-weight: 500;
                    text-transform: uppercase;

                    &:hover {
                        color: darken(color(cyan), 10%);
                    }
                }

                .locked-state {
                    color: lighten(color(neutral-light), 18%);
                    font-size: 4rem;
                    margin-right: 1rem;
                }
            }
        }
    }

    .authors {
        font-size: 1.6rem;
        line-height: 2.6rem;
        padding: 6rem 0 0;

        &:last-child {
            margin-bottom: 6rem;
        }

        .container {
            flex-flow: column wrap;

            @include desktop {
                padding: 0 27.5rem 0 1.5rem;
            }
        }
    }

    .partner-info {
        .text a {
            position: relative;

            &::before,
            &::after {
                border-right: 0.2rem solid;
                content: '';
                display: block;
                height: 0.7rem;
                position: absolute;
                right: -1.3rem;
                top: 0.3rem;
                transform: rotate3d(0, 0, 1, 135deg);
                width: 0;
            }

            &::after {
                right: -1.3rem;
                top: 0.7rem;
                transform: rotate3d(0, 0, 1, 45deg);
            }
        }

        .logo {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-bottom: 3rem;

            img {
                max-width: 100%;
                width: 20rem;
            }
        }
    }

    .publish-info {
        padding-top: 1rem;

        th {
            text-align: left;
            vertical-align: top;
        }

        .license {
            display: block;
            vertical-align: top;

            img {
                height: 4rem;
                padding-right: 1rem;
            }
        }
    }

    .errata {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin: 0 0 6rem;
        padding: 6rem 0 0;

        .container {
            flex-flow: column wrap;

            @include desktop {
                padding: 0 27.5rem 0 1.5rem;
            }
        }

        h2 {
            margin-bottom: 0;
        }

        .links {
            cursor: pointer;
            margin: 0;
            padding: 0;
        }

        .go-to {
            position: relative;

            &::before,
            &::after {
                border-right: 0.2rem solid;
                content: '';
                display: block;
                height: 0.7rem;
                position: absolute;
                right: -1.3rem;
                top: 0.7rem;
                transform: rotate3d(0, 0, 1, 135deg);
                width: 0;
            }

            &::after {
                right: -1.3rem;
                top: 1.1rem;
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:hover {
                color: darken(color(cyan), 10%);
            }
        }
    }
}
