<template args="model">
    <if condition="model.mode === 'page'">
        <div class="hero" style="{backgroundImage: `url(${model.coverUrl})`}">
            <img class="strips" src="/images/components/strips.svg" height="10" alt="" role="presentation">
        </div>
        <div class="boxed">
            <h1>{model.title}</h1>
            <h2 if="model.subheading">{model.subheading}</h2>
            <div class="meta">
                <p>
                    <span class="author">{model.author}</span>
                    <span class="date">{model.date}</span>
                </p>
            </div>
            <div class="body" skip="true"></div>
            <if condition="model.tags">
                <div class="tags">{model.tags}</div>
            </if>
            <div id="disqus_thread" class="disqus"></div>
        </div>
        <div class="articles"></div>
    <else>
        <div class="img" style="{backgroundImage: `url(${model.coverUrl})`}"></div>
        <div class="content">
            <h2><a href="/blog/{model.articleSlug}">{model.title}</a></h2>
            <h3 if="model.subheading">{model.subheading}</h3>
            <div class="body" skip="true"></div>
            <div class="meta">
                <p>
                    <span class="author">{model.author}</span>
                    <span class="date">{model.date}</span>
                </p>
            </div>
        </div>
    </if>
</template>
