@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

.article:not(.page) {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;

    h2 {
        font-size: 2.1rem;
        letter-spacing: 0;
        line-height: 2.6rem;

        @include desktop {
            margin-top: 0;
        }

        a {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    h3 {
        font-size: 1.6rem;
    }

    .img {
        background-repeat: no-repeat;
        background-size: cover;
        flex-basis: 100%;
        height: 24rem;
    }

    .content {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .body {
        font-size: 1.6rem;
        height: 8em;
        line-height: 2.5rem;
        overflow: hidden;
        position: relative;

        &::after {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 60%);
            bottom: -3rem;
            content: '';
            height: 8rem;
            position: absolute;
            right: 0;
            text-align: right;
            width: 100%;
        }

        .quote-bucket,
        iframe {
            height: 0;
            overflow: hidden;
            width: 0;
        }
    }

    .meta {
        color: color(neutral-light);
    }

    .author {
        color: color(cyan);
        font-style: italic;
    }
}

.pinned .article {
    flex-flow: row wrap;
    padding: 3rem 0 0;

    @include desktop {
        flex-flow: row nowrap;
        margin-bottom: 0;
        padding: 8rem 0;
    }

    h2 {
        @include desktop {
            font-size: 3.6rem;
            letter-spacing: -0.2rem;
            line-height: 4rem;
        }
    }

    h3 {
        @include desktop {
            font-size: 2.1rem;
        }
    }

    .img {
        flex-basis: 100%;
        height: 27rem;

        @include desktop {
            flex-basis: 50%;
            margin-right: 3rem;
        }
    }

    img {
        width: 100%;
    }

    .content {
        flex-basis: 100%;

        @include desktop {
            flex-basis: 50%;
        }
    }
}


.articles .article {
    background-color: color(neutral-lightest);
    flex-basis: 100%;

    @include desktop {
        flex-basis: calc(50% - 3rem);
        margin: 1.5rem;
    }

    @media (min-width: $boxed-width) {
        flex-basis: calc(33% - 2.6rem);
    }

    /* one article */
    &:first-child:nth-last-child(1) {
        flex-basis: 100%;
    }

    /* two articles */
    &:first-child:nth-last-child(2),
    &:first-child:nth-last-child(2) ~ div {
        @include desktop {
            flex-basis: calc(50% - 3rem);
        }
    }

    .content {
        @include desktop {
            padding: 1.5rem;
        }
    }
}
