@import 'variables';
@import 'mixins';

@mixin tablet-up {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

.contact-page {
    background-color: rgba(color(neutral-lighter), 0.2);

    .subhead {
        padding: 0;
    }

    .hero {
        background-color: color(green);
        color: color(neutral-lightest);
        padding: 6rem 1.5rem;

        h1 {
            color: inherit;
        }

        .boxed {
            flex-flow: column nowrap;
            padding: 0 1.5rem;
        }
    }

    .boxed {
        padding: 4rem 1.5rem  0;

        @include tablet-up {
            flex-flow: row wrap;
        }

        .col {
            padding-bottom: 4rem;

            @include tablet-up {
                flex: 1 1 60%;
                max-width: 60%;
            }

            &:last-child {
                @include tablet-up {
                    flex: 1 1 40%;
                    max-width: 40%;
                    padding-left: 3rem;

                    > h2 {
                        margin-top: 2.5rem;
                    }
                }

            }
        }
    }

    form {
        color: color(blue);

        textarea {
            height: auto;
            resize: none;
        }
    }

    .btn {
        background-color: color(orange);
        float: none;
    }

    .btn:hover,
    .btn:focus {
        background-color: darken(color(orange), 5%);
    }

    .labeled-control {
        margin-bottom: 2rem;
    }

    address {
        line-height: normal;

        p {
            margin: 0;
        }
    }

    .phone .label {
        font-weight: 500;
    }
}
