<template args="resources">
    <div class="hero">
        <div class="container boxed">
            <h1>OpenStax Support</h1>
            <p>
                Our online support library is available 24/7 to answer your questions — just
                click through your desired topic below to start your search. If you don’t
                find the information you need, you can contact our Customer Service team for
                further assistance.
            </p>
        </div>
    </div>
    <img class="strips" src="/images/components/strips.svg" height="10" alt="" role="presentation">
    <div class="main">
        <div class="boxed">
            <div class="resource-boxes">
                <div each="resource in resources" class="resource-box">
                    <div>
                        <div class="name">{resource.name}</div>
                        <div class="description">{resource.description}</div>
                    </div>
                    <div class="link"><a href="{resource.linkUrl}">{resource.linkText}</a></div>
                </div>
            </div>
        </div>
    </div>
</template>
