<template args="model">
    <if condition="model.page2">
        <form class="form-horizontal" role="form" method="post" action="https://ebank.rice.edu/C21279_upay/web/index.jsp">
            <div class="text-content">
                <div class="text-content subhead">
                    {`Please enter your donor information and click "Continue" to be taken to the secure payment site.`}
                </div>
                <input name="SUCCESS_LINK" type="hidden" value="{model.thankYouUrl}" />
                <input type="hidden" name="UPAY_SITE_ID" value="106" />
                <input type="hidden" name="Donation_To" value="OpenStax" />
                <input type="hidden" name="Revenue_Amount"  value="0" />
                <input type="hidden" name="Revenue_Fund_ID"  value="" />
                <input type="hidden" name="Donation_Fund_ID"  value="17616" />
                <input type="hidden" name="Donation_Amount" value="{model.seletedAmount}">
                <input type="hidden" name="Rice_Relate" value="Friend">
                <input type="hidden" name="turn_email_off" value="yes">
                <div class="labeled-inputs row top-of-form">
                    <div class="col">
                        <label>
                            Title
                            <span class="invalid-message">{model.validationMessage('Title')}</span>
                            <input type="text" name="Title" class="form-control" required
                            placeholder="Mr./Mrs./Dr./Ms./..."
                             />
                        </label>
                        <label>
                            First Name
                            <span class="invalid-message">{model.validationMessage('First_Name')}</span>
                            <input type="text" name="First_Name" class="form-control" required />
                        </label>
                        <label>
                            Last Name
                            <span class="invalid-message">{model.validationMessage('Last_Name')}</span>
                            <input type="text" name="Last_Name" class="form-control" required />
                        </label>
                        <label>
                            Suffix
                            <span class="invalid-message">{model.validationMessage('Suffix')}</span>
                            <input type="text" name="Suffix" class="form-control">
                        </label>
                        <label>
                            E-Mail
                            <span class="invalid-message">{model.validationMessage('Email')}</span>
                            <input type="email" name="Email" class="form-control" required />
                        </label>
                        <label>
                            Phone
                            <span class="invalid-message">{model.validationMessage('Phone')}</span>
                            <input type="text" name="Phone" class="form-control" required />
                        </label>
                        <label>
                            Phone Type
                            <span class="invalid-message">{model.validationMessage('Phone_Type')}</span>
                            <input type="text" name="Phone_Type" class="form-control" required
                            placeholder="Work/Home/Cell/..." />
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Address
                            <span class="invalid-message">{model.validationMessage('Mailing_Address')}</span>
                            <input type="text" name="Mailing_Address" class="form-control" required />
                        </label>

                        <label>
                            <span class="invalid-message">{model.validationMessage('Mailing_Address2')}</span>
                            <input type="text" name="Mailing_Address2" class="form-control" />
                        </label>

                        <label>
                            City
                            <span class="invalid-message">{model.validationMessage('Mailing_City')}</span>
                            <input type="text" name="Mailing_City" class="form-control" required />
                        </label>

                        <label>
                            State
                            <span class="invalid-message">{model.validationMessage('Mailing_State')}</span>
                            <div skip="true"></div>
                            <select name="Mailing_State" class="form-control" required>
                                <option value="--">Not Applicable</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota </option>
                                <option value="MO">Missouri</option>
                                <option value="MS">Mississippi</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                                <option value="AS">American Samoa</option>
                                <option value="DC">District of Columbia </option>
                                <option value="FM">Federated States of Micronesia</option>
                                <option value="GU">Guam</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="PW">Palau</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="VI">Virgin Islands</option>
                                <option value="AA">Armed Forces Americas</option>
                                <option value="AE">Armed Forces Europe</option>
                                <option value="AP">Armed Forces Pacific</option>
                                <option value="AB">Alberta </option>
                                <option value="BC">British Columbia</option>
                                <option value="MB">Manitoba</option>
                                <option value="NB">New Brunswick</option>
                                <option value="NF">Newfoundland</option>
                                <option value="NT">Northwest Territories</option>
                                <option value="NS">Nova Scotia</option>
                                <option value="ON">Ontario</option>
                                <option value="PE">Prince Edward Island</option>
                                <option value="PQ">Province du Quebec</option>
                                <option value="SK">Saskatchewan</option>
                                <option value="YT">Yukon Territory</option>
                            </select>
                        </label>
                        <label>
                            Zip Code
                            <span class="invalid-message">{model.validationMessage('Mailing_Zip')}</span>
                            <input type="text" name="Mailing_Zip" class="form-control" required />
                        </label>

                        <label>
                            Country
                            <span class="invalid-message">{model.validationMessage('Mailing_Country')}</span>
                            <div skip="true"></div>
                            <select name="Mailing_Country" class="form-control" required />
                                <option value="US">United States</option>
                                <option value="CA">Canada</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Aland Islands</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Columbia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CD">Congo - The Democratic Republic of the</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands (Malvinas)</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and McDonald Islands</option>
                                <option value="VA">Holy See (Vatican City State)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran - Islamic Republic of</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea - Democratic Peoples Republic of</option>
                                <option value="KR">Korea - Republic of</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao Peoples Democratic Republic</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libyan Arab Jamahiriya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Lexembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MK">Macedonia - The Former Yugoslav Republic of</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia - Federated States of</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territory - Occupied</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russian Federation</option>
                                <option value="RW">Rwanda</option>
                                <option value="BL">Saint Barthelemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan - Province of China</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania - United Republic of</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="GB">United Kingdom</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Viet Nam</option>
                                <option value="VG">Virgin Islands - British</option>
                                <option value="VI">Virgin Islands - U.S.</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </label>
                        <label>
                            Donation Amount
                            <span class="invalid-message">{model.validationMessage('AMT')}</span>
                            <input name="AMT" type="number" min=5 value="{model.selectedAmount}" required />
                        </label>
                        <button type="submit" class="btn btn-orange">Continue</button>
                    </div>
                </div>
            </form>
            <else>
                <div class="hero">
                    <div class = "background-overlay"></div>
                    <div class="background-image"></div>
                    <div class="boxed">
                        <h1>{model.headline}</h1>
                        <p>{model.subhead}</p>
                        <if condition="model.amounts">
                            <div class="amount-boxes">
                                <form class="preform">
                                    <div class="box-row">
                                        <div each="amount in model.amounts" class="{`amount ${model.selectedAmount === +amount ? 'selected' : ''}`}" data-value="{amount}">${amount}</div>
                                        <input type="number" class="{`amount-input ${model.otherAmount === null ? '' : 'selected'}`}" placeholder="Other amount" min="5" value="{model.otherAmount}"/>
                                    </div>
                                    <input class="btn" type="submit" value="donate!" />
                                </form>
                            </div>
                            <else>
                                <div class="text-content">
                                    <a href="/impact" class="btn btn-gold">See our impact</a>
                                </div>
                            </if>
                        </div>
                    </div>
                    <img class="strips" src="/images/components/strips.svg" height="10" alt="" role="presentation">
                    <div class="boxed">
                        <h2>Other Ways to Give</h2>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <h3>Check</h3>
                                <p>
                                    If you would like to mail a check for your gift to OpenStax, make
                                    checks out to OpenStax, Rice University.
                                </p>
                                <h4>Mail to:</h4>
                                <address>OpenStax
                                    P.O. Box 1892 MS375
                                    Houston, TX 77251-1892
                                </address>
                            </div>
                            <div class="col">
                                <h3>Wire Transfer / ACH</h3>
                                <p>
                                    If you would like to make a gift via an electronic transfer,
                                    please contact our finance department for detailed bank instructions.
                                </p>
                                <div class="container">
                                    <a class="go-to" href="/contact?subject=Donations">Contact us for wire instructions</a>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col">
                                <h3>Matching Gifts</h3>
                                <p>
                                    Engage in your employer's matching gift program to multiply your
                                    donation's impact.
                                </div>
                                <div class="col">
                                    <h3>Other Donation Options</h3>
                                    <p>
                                        We are here to assist you with:
                                        <ul>
                                            <li>Longterm appreciated securities</li>
                                            <li>Gifts to OpenStax in your will or revocable management trust</li>
                                            <li>Qualified charitable distributions from your IRA</li>
                                            <li>Beneficiary designations for your retirement plan or life
                                                insurance to benefit OpenStax</li>
                                                <li>Charitable gift annuities</li>
                                                <li>Charitable trusts</li>
                                                <li>Gifts of real estate, business interests, closely held
                                                    stock and personal property</li>
                                                </ul>
                                            </p>
                                        </div>
                                    </div>
                                    <hr />
                                    <p>
                                        <a href="/contact?subject=Donations" class="btn cta">Contact us for help with your gift</a>
                                    </p>
                                </div>
                            </if>
                        </template>
