@import 'variables';
@import 'mixins';


.get-this-title {
    .remover {
        @include absolute(top 0 right 0);

        cursor: pointer;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1rem;
        text-align: center;
    }

    .submenu {
        position: relative;

        p {
            color: color(gray);
        }

        &.pdf .pdf-submenu,
        &.print .print-submenu {
            height: auto;
            opacity: 1;
            transform: scale3d(1, 1, 1);
            width: auto;

        }

        .pdf-submenu,
        .print-submenu {
            height: 0;
            opacity: 0;
            overflow: hidden;
            transform: scale3d(0, 0, 0);
            transition: opacity 0.2s;
            width: 0;
        }

        .btn {
            color: color(neutral-lightest);
            font-variant: normal;
            padding: 1.5rem;
            text-transform: uppercase;
            width: 100%;

            &:hover {
                background-color: darken(color(neutral-medium), 5%);
                transform: scale3d(1, 1, 1);
            }
        }
    }

    .options {
        margin-bottom: 1rem;
        opacity: 1;
        transition: opacity 0.2s;
    }

    .pdf + .options,
    .print + .options {
        height: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        width: 0;
    }

    .option {
        border-bottom: 0.1rem solid color(neutral-lighter);
        font-size: 1.6rem;
        padding: 0.5rem;

        &:last-child {
            border-bottom: 0;
        }

        a,
        .option-header {
            display: block;
            padding-left: 3rem;
        }

        a {
            color: color(cyan);

            &:hover {
                color: darken(color(cyan), 10%);
            }
        }
    }

    .fa:not(.fa-times) {
        color: darken(color(cyan), 10%);
        font-size: 1.8rem;
        margin-left: -3rem;
        width: 2.5rem;
    }
}
