<template args="model">
    <div class="hero">
        <div class="container">
            <h1>{model.title}</h1>
            <p>{model.classroom_text}</p>
        </div>
    </div>
    <div class="icons">
        <img class="strips" src="/images/components/strips.svg" height="10" alt="" role="presentation">
        <div id="filter" class="filter">
            <div class="filter-buttons">
                <div each="button in model.filterButtons" class="filter-button{button === history.state.filter ? ' selected' : ''}"
                data-value="{button}">{button}</div>
            </div>
        </div>
        <div class="container">
            <div each="partner in model.partners" class="logo">
                <a class="logo-text" href="#{partner.title}-blurb">
                    <if condition="partner.ally_bw_logo">
                        <img src="{partner.ally_bw_logo}">
                    <else>
                        {partner.title}
                    </if>
                </a>
            </div>
        </div>
    </div>
    <div class="blurbs container">
        <div each="partner in model.partners" class="text" id="{partner.title+'-blurb'}">
            <h2></h2>
            <p></p>
            <a href="#filter" class="to-top">Return to top <i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
</template>
