@import 'variables';
@import 'mixins';

$text-dark2: rgba(0, 0, 0, 0.7);

.partners-page {
    line-height: 3rem;

    .container {
        margin: 0 auto;
        max-width: $boxed-width;
        padding: 0 1.5rem;
    }

    .hero {
        background-color: color(green);
        color: color(neutral-lightest);
        padding-bottom: 11rem;

        h1 {
            color: inherit;
        }

        .subhead {
            padding: 0;
            text-align: left;

            @include desktop {
                text-align: center;
            }
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .icons {
        @include constrained-variable-text(3, 0.3);

        color: color(gray);
        display: block;
        font-weight: 500;
        margin: 0 auto;
        min-height: 10rem;
        position: relative;
        width: 100%;

        a {
            color: inherit;
        }

        .container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            padding-top: 9rem;
        }

        .logo {
            padding: 4rem;

            &.hidden {
                display: none;
            }

            a {
                transition: All ease-in-out 0.3s;

                &:hover,
                &:focus {
                    opacity: 0.7;
                }
            }

            .logo-text,
            img {
                max-height: 7.5rem;
                max-width: 14rem;
            }
        }
    }

    .strips {
        left: 0;
        margin-bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .blurbs {
        align-items: center;
        background-color: color(neutral-lightest);
        font-size: 1.7rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
        padding: 3rem;

        .text {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            max-width: 100%;

            &.hidden {
                display: none;
            }

            p {
                width: 100%;
            }
        }

        a {
            color: color(cyan);
            font-size: 1.4rem;
            font-weight: 500;
            position: relative;
            text-transform: uppercase;

            &:hover {
                color: darken(color(cyan), 10%);
            }
        }
    }

    .filter {
        padding: 0.2rem 0;
        width: 100%;
    }
}
