<template args="model">
    <img src="{model.coverUrl}" alt="book cover">
    <div class="details">
        <div class="get-this-title-container" skip="true"></div>
        <div class="cta">
            <a href="/details/{model.slug}" class="btn">details & resources</a>
        </div>
    </div>
</template>
