@import 'variables';

$table-background: lighten(neutral-color(light), 30%);
$attention: color(green);

.calculator {
    padding: 5rem 0 0;

    table {
        background-color: $table-background;
        border-collapse: collapse;
        line-height: 4rem;
        margin: 0 auto;
        width: 90%;

        th {
            padding: 0.5rem 1.5rem;
            text-align: left;
        }

        td {
            font-weight: 500;
            padding: 0.5rem 1.5rem;
        }

        .savings {
            color: $attention;
            font-size: 1.6rem;
        }

    }

    .footnote::after {
        content: '*';
    }

    tfoot {
        background-color: color(neutral-lightest);
        color: color(neutral-light);
        font-size: 1rem;
        padding-top: 1rem;
        text-align: center;

        td {
            padding: 1.5rem;

            > p {
                line-height: 1rem;
                margin: 0;
            }
        }
    }

    .table-notes {
        color: neutral-color(dark);
        text-align: right;
    }
}
