@import 'variables';

.faculty-verification-form {
    .col.hidden {
        display: none;
    }

    .cta {
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        @media (min-width: 641px) {
            margin-top: 12rem;
        }

        [type="submit"] {
            float: none;

            &:disabled {
                background-color: color(neutral-light);
            }
        }
    }
}
