@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

.education {
    @media (min-width: 600px) {
        height: 74rem;
        overflow: hidden;
        position: relative;
        top: -3rem;
        width: 100%;
    }
}

.education-banner {
    background-attachment: local;
    background-image: url('/images/home/education/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: 600px) {
        bottom: 0;
        height: 71rem;
        left: 0;
        position: absolute;
        right: 0;
    }

    .container {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        margin: 0 auto;
        max-width: $boxed-width;
        padding: 3rem 1.5rem;
        position: relative;

        @include tablet {
            flex-flow: row wrap;
        }
    }

    .quote {
        background-color: rgba(color(cyan), 0.8);
        color: color(neutral-lightest);
        margin-bottom: 1.5rem;
        padding: 3rem;
        top: 5rem;
        width: 100%;

        @media (min-width: 600px) {
            width: calc(100% - 3rem);

            > p {
                width: calc(46% + 10rem);
            }
        }

        > p:first-child {
            font-size: 2.2rem;
            font-weight: 300;
            margin: 0;

            @include desktop {
                font-size: 2.6rem;
                font-weight: 300;
                letter-spacing: 0.1rem;
            }
        }

        h3 {
            color: color(yellow);
            font-size: 4.6rem;
            letter-spacing: -0.2rem;
            line-height: 1;
            margin: 1rem 0;

            @include desktop {
                font-size: 7rem;
                width: 37rem;
            }

        }

        > p:last-child {
            font-size: 1.8rem;
            font-weight: 300;
            margin: 1.5rem 0;

            @include desktop {
                font-weight: 300;
                letter-spacing: 0.1rem;
                line-height: 2.8rem;
            }
        }

        @media (min-width: 1000px) {
            > p,
            > h3 {
                width: 50rem;
            }
        }


        .btn {
            background-color: transparent;
            border: 0.1rem solid color(neutral-lightest);
            color: color(neutral-lightest);

            &:hover {
                background-color: rgba(color(neutral-lightest), 0.90);
                color: color(cyan);
            }
        }
    }

    .links {
        width: 100%;
        z-index: 3;

        @media (min-width: 600px) {
            bottom: 3rem;
            margin-top: 1.5rem;
        }

        @media (min-width: 1000px) {
            bottom: 13rem;
        }

        ul {
            display: flex;
            flex-flow: column nowrap;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

            @include desktop {
                flex-flow: row wrap;
            }
        }

        li {
            flex: 0 0 auto;

            @media (min-width: 600px) {
                width: 60%;
            }

            @include desktop {
                flex: 0 0 40%;
                max-width: 37rem;
            }

            &:first-child {
                margin-bottom: 1.5rem;

                @media (min-width: 600px) {
                    margin-bottom: 1.5rem;
                }

                @include desktop {
                    margin-bottom: 0;
                    margin-right: 3rem;
                }
            }
        }

        .btn {
            box-shadow: 0 0 1rem rgba(color(neutral-dark), 0.2);
            display: inline-block;
            text-align: left;
            text-transform: none;
            width: 100%;

            @media (min-width: 600px) {
                padding-left: 1.5rem;
                padding-right: 1.5rem;

            }

            @include desktop {
                height: 12.7rem;
            }

            &:hover,
            &:focus {
                transform: scale3d(1, 1, 1);
            }

            &.k-12 > .title {
                color: color(orange);
            }
        }

        .title {
            color: color(yellow);
            display: block;
            font-size: 2.4rem;
        }

        .blurb {
            font-size: 1.6rem;
            font-weight: 300;
        }
    }

    .square-1,
    .square-2,
    .student,
    .quote,
    .links {
        @media (min-width: 600px) {
            position: absolute;
        }
    }

    .square-1,
    .square-2 {
        background-color: rgba(color(cyan), 0.2);
        display: none;
        position: absolute;
        z-index: 0;

        @include desktop {
            display: initial;
        }
     }

    .square-1 {
        bottom: 18rem;
        height: 12rem;
        left: -1.5rem;
        width: 56rem;
     }

    .square-2 {
        height: 50rem;
        right: -5rem;
        top: 1.5rem;
        width: 64rem;
     }

    .student {
        background-image: url('/images/home/education/student.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 100% auto;
        bottom: 0;
        height: 105%;
        right: calc(-12rem + 12%);
        width: calc(15rem + 30%);
        z-index: 2;

        @media (min-width: 1000px) {
            background-position: right bottom;
            background-size: auto 100%;
            right: 0;
            width: 60rem;
        }
    }
 }
