<template args="model">
    <div class="container">
        <div class="square-1"></div>
        <div class="square-2"></div>

        <div class="quote" data-html-content="0" skip="true"></div>

        <div class="student"></div>

        <div class="links">
            <ul>
                <li>
                    <a class="btn btn-large btn-orange higher-ed" href="{model[1].link}">
                        <span class="title">{model[1].heading}</span>
                        <span class="blurb" data-html-content="1" skip="true"></span>
                    </a>
                </li>
                <li>
                    <a class="btn btn-large btn-gold k-12" href="{model[2].link}">
                        <span class="title">{model[2].heading}</span>
                        <span class="blurb" data-html-content="2" skip="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>
