<template args="model">
    <div class="hero w-cards">
        <div class="row container-wrap">
            <div class="overlay">
                <div class="text-block">
                    <h1>{model.tagline}</h1>
                </div>
            </div>
        </div>
    </div>

    <img class="strips" src="/images/components/strips.svg" height="10" alt="" role="presentation">

    <div class="meta">
        <div class="boxed">
            <h2>{model.introHeading}</h2>
            {model.introParagraph}
        </div>
    </div>

    <div class="boxed">
        <div each="group in model.bios" class="{group.name === 'team' ? 'our-team' : 'strategic-advisors'}">
            <h2>{group.name === 'team' ? model.ourTeamHeading : 'Strategic Advisors'}</h2>
            <div class="headshots">
                <div each="member in group.members" class="headshot{model.tapped === member.id ? ' tapped' : ''}{member.hidden ? ' hidden' : ''}" data-id="{member.id}">
                    <div class="picture-area{group.name === 'team' ? ' text-'+member.textColor+' bg-'+member.bgColor : ''}{member.image ? ' has-picture' : ''}">
                        <img if="member.image" src="{member.image}">
                        <div class="name">{member.name}</div>
                    </div>
                    <div class="details">
                        <div class="name">{member.name}</div>
                        <div if="member.position" class="title">{member.position}</div>
                        <div class="description">{member.description}</div>
                    </div>
                </div>
                <div each="spaceholder in [1,2,3]" class="headshot hidden"></div>
            </div>
        </div>
    </div>
</template>
