@import 'variables';
@import 'mixins';

$breakpoint-1: 908px;
$breakpoint-2: 806px;
$hero-break-width: 880px;

@mixin phone {
    @media (max-width: 500px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 501px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 770px) {
        @content;
    }
}

.about-page {
    background-color: rgba(color(neutral-lighter), 0.2);

    .hero {
        align-items: center;
        background-color: color(blue);
        background-image: url('/images/about/banner-about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        height: 60rem;
        justify-content: center;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 100%;

        @media (max-width: $hero-break-width) {
            min-height: 0;
        }

        @include collapsed {
            height: calc(100vh - 6rem);
            max-height: 53rem;
        }

        > div {
            align-items: stretch;
            display: flex;
            width: 100%;
        }

        .container-wrap {
            display: flex;
            flex-flow: column wrap;
            margin: 0 auto;
            max-width: $boxed-width;
            width: 100%;
            z-index: 1;

            @include collapsed {
                align-items: stretch;
                flex-flow: row wrap;
            }

        }

        .overlay {
            background-color: rgba(saturate(color(blue), 10%), 0.85);
            color: color(neutral-lightest);
            display: flex;
            justify-content: flex-end;
            padding: 4rem;

            @media screen and (min-width: $boxed-width + 1) {
                padding-left: calc(-61rem + 55%);
            }

            @include collapsed {
                width: 100%;
            }

            .text-block {
                flex-basis: 100%;
            }

            h1 {
                color: inherit;

                @include desktop {
                    text-align: center;
                }
            }

            .blurb {
                font-size: 1.8rem;
                padding: 1em 0;
            }
        }
    }

    &.hidden {
        display: none;
    }

    .strips {
        margin: 0;
    }

    .meta {
        background-color: color(neutral-lightest);
        padding: 8rem 0;

        h2 {
            margin: 0;
        }

        p {
            font-size: 1.8rem;
            line-height: 2.6rem;

            @include desktop {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                width: 80%;
            }
         }
    }

    section {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    h2 {
        margin-bottom: 2rem;

        @include desktop {
            text-align: center;
        }
    }

    .headshots {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: relative;

        .headshot {
            cursor: pointer;
            position: relative;

            .overlay {
                bottom: 0;
                height: 100%;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }

            &.hidden {
                visibility: hidden;
            }
        }
    }

    .details {
        background-color: color(neutral-lightest);
        bottom: 0;
        box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(94, 96, 98, 0.1);
        cursor: default;
        height: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        right: 0;
        top: 6rem;
        transform: translate3d(0, -1rem, 0);
        transition: opacity 0.2s, transform 0.2s;
        width: 0;
        z-index: 999;

        &::before {
            border: 2rem solid;
            border-color: transparent transparent color(neutral-lightest);
            bottom: 100%;
            content: '';
            left: 50%;
            margin-left: -2rem;
            position: absolute;
        }
    }

    &.no-touch .headshot:hover:nth-child(3n-2) .details,
    .headshot.tapped:nth-child(3n-2) .details {
        @include tablet {
            left: 0;
            transform: translate3d(0, 0, 0);

            &::before {
                left: 5rem;
                right: auto;
            }
        }
    }

    &.no-touch .headshot:hover:nth-child(3n+1) .details,
    .headshot.tapped:nth-child(3n+1) .details {
        @include desktop {
            left: 0;
            transform: translate3d(0, 0, 0);

            &::before {
                left: 5rem;
                right: auto;
            }
        }
    }

    &.no-touch .headshot:hover:nth-child(3n) .details,
    .headshot.tapped:nth-child(3n) .details {
        @include tablet {
            left: auto;
            right: 0;
            transform: translate3d(0, 0, 0);

            &::before {
                left: auto;
                right: 5rem;
            }
        }

        @include desktop {
            left: auto;
            right: 0;
            transform: translate3d(0, 0, 0);

            &::before {
                left: auto;
                right: 4rem;
            }
        }
    }

    &.no-touch .headshot:hover:nth-child(4n) .details,
    &.no-touch .headshot:hover:nth-child(4n-1) .details,
    .headshot.tapped:nth-child(4n) .details,
    .headshot.tapped:nth-child(4n-1) .details {
        @include desktop {
            left: auto;
            right: 0;
            transform: translate3d(0, 0, 0);

            &::before {
                left: auto;
                right: 5rem;
            }
        }
    }

    &.no-touch .headshot:hover:nth-child(4n-3) .details,
    &.no-touch .headshot:hover:nth-child(4n-2) .details,
    .headshot.tapped:nth-child(4n-3) .details,
    .headshot.tapped:nth-child(4n-2) .details {
        @include desktop {
            left: 0;
            right: auto;
            transform: translate3d(0, 0, 0);

            &::before {
                left: 5rem;
                right: auto;
            }
        }
    }

    // min-width 955px 5per row
    &.no-touch .headshot:hover:nth-child(5n) .details,
    &.no-touch .headshot:hover:nth-child(5n-1) .details,
    .headshot.tapped:nth-child(5n) .details,
    .headshot.tapped:nth-child(5n-1) .details {
        @media (min-width: 955px) {
            left: auto;
            right: 0;
            transform: translate3d(0, 0, 0);

            &::before {
                left: auto;
                right: 5rem;
            }
        }
    }

    &.no-touch .headshot:hover:nth-child(5n+1) .details,
    &.no-touch .headshot:hover:nth-child(5n+2) .details,
    .headshot.tapped:nth-child(5n+1) .details,
    .headshot.tapped:nth-child(5n+2) .details {
        @media (min-width: 955px) {
            left: 0;
            right: auto;
            transform: translate3d(0, 0, 0);

            &::before {
                left: 5rem;
                right: auto;
            }
        }
    }

    // min-width 1140px 6 per row
    &.no-touch .headshot:hover:nth-child(6n) .details,
    &.no-touch .headshot:hover:nth-child(6n-1) .details,
    .headshot.tapped:nth-child(6n) .details,
    .headshot.tapped:nth-child(6n-1) .details {
        @media (min-width: 1140px) {
            left: auto;
            right: 0;
            transform: translate3d(0, 0, 0);

            &::before {
                left: auto;
                right: 5rem;
            }
        }
    }

    &.no-touch .headshot:hover:nth-child(6n+1) .details,
    &.no-touch .headshot:hover:nth-child(6n+2) .details,
    .headshot.tapped:nth-child(6n+1) .details,
    .headshot.tapped:nth-child(6n+2) .details {
        @media (min-width: 1140px) {
            left: 0;
            right: auto;
            transform: translate3d(0, 0, 0);

            &::before {
                left: 5rem;
                right: auto;
            }
        }
    }

    .headshot.tapped .details {
        height: 100vh;
        opacity: 1;
        padding: 3rem 0;
        transform: translate3d(0, 0, 0);
        width: 100%;
    }

    &.no-touch .headshot:hover .details,
    .headshot.tapped .details {
        @include tablet {
            bottom: auto;
            display: flex;
            flex-flow: column nowrap;
            height: auto;
            left: -109%;
            margin-top: 3rem;
            opacity: 1;
            overflow: visible;
            padding: 3rem 0;
            position: absolute;
            right: auto;
            top: 18rem;
            transform: translate3d(0, 0, 0);
            width: 100%;
            width: calc(100vw - 3rem);
        }

        @include desktop {
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            width: 40rem;
        }

        .name {
            color: color(orange);
            font-size: 2.2rem;
            font-weight: 500;
            margin-bottom: 0.5rem;
            padding: 0 3rem;
        }

        .title {
            color: color(gray);
            font-variant: small-caps;
            font-weight: 600;
            line-height: 1;
            padding: 0 3rem;
            text-transform: lowercase;
        }

        .description {
            height: calc(100% - 13.7rem);
            margin: 1.5rem 0 0;
            overflow-y: auto;
            padding: 0 3rem;
            transform: translate3d(0, 0, 0);

            @include tablet {
                height: auto;
            }
        }
    }

    .our-team .headshot {
        display: flex;
        flex: 0 0 100%;
        flex-flow: column nowrap;
        height: 25rem;
        justify-content: space-between;

        @media (min-width: 400px) {
            flex-basis: 48%;
        }

        @include tablet {
            flex-basis: 31.5%;
        }

        @include desktop {
            flex-basis: 23.5%;
        }

        @media (min-width: 955px) {
            flex-basis: 18.5%;
        }

        @media (min-width: 1140px) {
            flex-basis: 15%;
        }

        .remover {
            @include absolute(top 1.5rem right 1.5rem);
        }
    }

    .our-team .picture-area {
        box-shadow: 0 0.1rem 0.3rem 0.2rem rgba(94, 96, 98, 0.1);
        height: 100%;
        margin-bottom: 2.5rem;
        overflow: hidden;
        position: relative;

        &.has-picture {
            @include halo();
        }

        &.text-red .name {
            color: color(red);
        }

        &.text-orange .name {
            color: color(orange);
        }

        &.text-yellow .name {
            color: color(yellow);
        }

        &.text-gold .name {
            color: color(gold);
        }

        &.text-green .name {
            color: color(green);
        }

        &.text-deep-green .name {
            color: color(deep-green);
        }

        &.text-turquoise .name {
            color: color(turquoise);
        }

        &.text-cyan .name {
            color: color(cyan);
        }

        &.text-blue .name {
            color: color(blue);
        }

        &.text-gray .name {
            color: color(gray);
        }

        &.text-white .name {
            color: color(neutral-lightest);
        }

        &.bg-red {
            background-color: color(red);
        }

        &.bg-orange {
            background-color: color(orange);
        }

        &.bg-yellow {
            background-color: color(yellow);
        }

        &.bg-gold {
            background-color: color(gold);
        }

        &.bg-green {
            background-color: color(green);
        }

        &.bg-deep-green {
            background-color: color(deep-green);
        }

        &.bg-turquoise {
            background-color: color(turquoise);
        }

        &.bg-cyan {
            background-color: color(cyan);
        }

        &.bg-blue {
            background-color: color(blue);
        }

        &.bg-gray {
            background-color: color(gray);
        }

        img {
            bottom: -1rem;
            height: 80%;
            position: absolute;
            right: -8.5rem;
            z-index: 1;

            @include desktop {
                left: -1.5rem;
                right: auto;
            }
        }

        .name {
            @include constrained-variable-text(3.6, 0.2);
            font-weight: bold;
            left: -0.2rem;
            letter-spacing: -0.15rem;
            line-height: 3.6rem;
            position: absolute;
            top: -0.5rem;
            word-wrap: break-word;
        }
    }


    .strategic-advisors {
        .headshot {
            flex: 0 0 100%;

            @media (min-width: 400px) {
                flex-basis: 48%;
            }

            @include tablet {
                flex-basis: 31.5%;
            }

            @include desktop {
                flex-basis: 23.5%;
            }

            @media (min-width: 955px) {
                flex-basis: 18.5%;
            }

            @media (min-width: 1140px) {
                flex-basis: 15%;
            }

            .remover {
                @include absolute(top 1.5rem right 1.5rem);
            }

            &:nth-child(1) .picture-area img {
                border-color: color(orange);
            }

            &:nth-child(2) .picture-area img {
                border-color: color(blue);
            }

            &:nth-child(3) .picture-area img {
                border-color: color(turquoise);
            }

            &:nth-child(4) .picture-area img {
                border-color: color(yellow);
            }

            &:nth-child(5) .picture-area img {
                border-color: color(gray);
            }

            &:nth-child(6) .picture-area img {
                border-color: color(cyan);
            }

            &:hover .details {
                @include tablet {
                    top: 18.5rem;
                }
            }
        }



        .picture-area {
            margin-bottom: 2.5rem;
            overflow: hidden;

            img {
                border-bottom: 1rem solid;
                height: 100%;
                width: 100%;
            }
        }

        .name {
            font-size: 2.2rem;
            font-weight: 600;
        }
    }

    &.no-touch .strategic-advisors .headshot:hover .details,
    .strategic-advisors .headshot.tapped .details {
        @include tablet {
            bottom: 100%;
            top: auto;

            &::before {
                border-color: color(neutral-lightest) transparent transparent;
                bottom: auto;
                top: 100%;
            }
        }
    }

}
