<template args="model">
    <if condition="model.select.multiple">
        <ul class="tags">
            <if condition="model.selected.size">
                <li each="tag in model.selected">
                    <span class="label" data-value="{$item}">{$value}</span>
                    <span class="remover">×</span>
                </li>
            <else>
                <li>
                    <span class="label none">None</span>
                </li>
            </if>
        </ul>
    <else>
        <if condition="model.selected.size">
            <span each="item in model.selected" class="item">{$value}</span>
        <else>
            <span class="item none">Please choose an option...</span>
        </if>
    </if>
    <ul class="options{model.open ? ' open' : ''}">
        <li each="option in model.options" class="option" data-value="{$item}">{$value}</li>
    </ul>
</template>
