@import 'variables';
@import 'mixins';

@mixin large-screen {
    @media (min-width: 1000px) {
        @content;
    }
}

.adopters-page {
    text-align: center;

    h1 {
        margin-bottom: 2rem;
    }

    .adopters {
        column-count: 3;
        column-gap: 5rem;
        list-style-type: none;

        @include phone {
            column-count: 1;
        }

        @include tablet {
            column-count: 2;
        }

        @include large-screen {
            column-count: 4;
        }
    }

    .adopter {
        line-height: 2;
        text-align: left;

        @include phone {
            text-align: center;
        }
    }
}
