<template args="adopters">
    <h1>Complete list of institutions that have adopted OpenStax</h1>
    <ul class="adopters">
        <li each="adopter in adopters" class="adopter">{adopter.name}</li>
    </ul>
</template>
