<template args="model">
    <div class="text">
        <if condition="model.logoUrl">
            <div class="logo">
                <img src="{model.logoUrl}" />
            </div>
        </if>
        <h4>{model.name}</h4>
        <blurb-html></blurb-html>
    </div>
    <div class="text">
        <a href="{model.url}">{model.linkText}</a>
    </div>
</template>
