@import 'variables';
@import 'mixins';

$breakpoint-1: 908px;

$hero-break-width: 880px;

.higher-ed-page {
    &.hidden {
        display: none;
    }

    .more {
        font-weight: bold;
        text-transform: uppercase;

        a {
            color: inherit;
            letter-spacing: inherit;

            &::after {
                color: color(yellow);
                content: '►';
                padding-left: 0.5rem;
            }
        }
    }

    .hero {
        align-items: center;
        background-image: url('/images/higher-ed/background.jpg');
        background-size: cover;
        display: flex;
        height: 60rem;
        overflow: hidden;
        position: relative;
        text-align: left;

        @media (max-width: $hero-break-width) {
            min-height: 0;
        }

        @include collapsed {
            align-items: stretch;
            background: none;
            max-height: 53rem;
        }

        .container-wrap {
            display: flex;
            flex-flow: column wrap;
            height: 100%;
            justify-content: center;
            margin: 0 auto;
            max-width: $boxed-width;
            width: 100%;
            z-index: 1;

            @include collapsed {
                align-items: stretch;
                flex-flow: row wrap;
            }

            .student {
                background-image: url('/images/higher-ed/student.png');
                background-position: 0 -2.5rem;
                background-repeat: no-repeat;
                background-size: 100% auto;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                transition: All ease 0.2s;
                width: 61rem;
                z-index: 2;

                @media screen and (max-width: $boxed-width) {
                    left: calc(-61rem + 50%);
                }

                @media screen and (min-width: $boxed-width + 1) {
                    left: calc(44% - 61rem);
                }

                @include collapsed {
                    background-position: right 1.8rem;
                    background-size: contain;
                    bottom: 0;
                    height: 50%;
                    left: auto;
                    right: 0;
                    top: auto;
                    width: 38rem;
                }

            }

            .overlay {
                background-color: rgba(color(cyan), 0.8);
                color: color(neutral-lightest);
                display: flex;
                justify-content: flex-end;
                margin: inherit 1.5rem;
                padding: 4rem;
                z-index: 1;

                @media screen and (min-width: $boxed-width + 1) {
                    padding-left: calc(-61rem + 55%);
                }

                @include collapsed {
                    background-color: color(cyan);
                    height: 100%;
                    width: 100%;
                }

                .text-block {
                    flex-basis: 50%;

                    @include collapsed {
                        flex-basis: 100%;
                    }
                }

                h1 {
                    color: inherit;
                }

                .blurb {
                    font-size: 1.8rem;
                    padding: 1em 0;

                    @include collapsed {
                        display: none;
                    }
                }
            }
        }

        .square-1,
        .square-2 {
            background-color: rgba(color(cyan), 0.15);
            display: block;
            position: absolute;
            z-index: 0;

            @media (max-width: $breakpoint-1) {
                display: none;
            }
        }

        .square-1 {
            height: calc(32vw + 4.2rem);
            left: 3vw;
            top: 3vw;
            width: calc(50vw + 6.6rem);
        }

        .square-2 {
            height: calc(23.5vw + 3.1rem);
            right: 2vw;
            top: 5vw;
            width: calc(17vw + 2.5rem);
        }

    }

    .quote-buckets {
        background-color: lighten(color(neutral-lighter), 8%);
    }

    .getting-started {
        background-color: color(orange);
        color: white;
        display: flex;
        justify-content: flex-start;
        padding: 5.5rem 0;

        .container {
            max-width: $boxed-width;
        }

        .header {
            @include variable-sized-text(4.4, 0.2);

            font-weight: 900;
            line-height: 1;
        }

        .steps {
            align-items: stretch;
            border-bottom: 0.4rem solid lighten(color(orange), 10%);
            border-top: 0.4rem solid lighten(color(orange), 10%);
            counter-reset: steps;
            display: flex;
            list-style-type: none;
            margin: 3.2vw 0;
            padding: 4.29vw 0;

            @include collapsed {
                flex-direction: column;
            }

            @media (min-width: $boxed-width) {
                margin: 3.84rem 0;
                padding: 5.15rem 0;
            }
        }

        .step {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;

            &.numbered {
                flex-basis: 0;

                @include collapsed {
                    flex-basis: auto;
                }
            }

            &:nth-child(2) {
                margin: 0 3vw;

                @include collapsed {
                    margin: 3rem 0;
                }

                @media (min-width: $boxed-width) {
                    margin: 0 4.8rem;
                }
            }

            &.numbered::before {
                @include constrained-variable-text(5.5, 0.2);

                color: color(yellow);
                content: counter(steps) '.';
                counter-increment: steps;
                font-weight: bold;
                padding-bottom: 0.4em;
            }

            > .title {
                @include constrained-variable-text(2.1, 0.2);

                font-weight: bold;
                margin-bottom: 0.3em;
            }

            > .blurb {
                @include constrained-variable-text(1.6, 0.2);

                flex-grow: 1;
                font-weight: 200;
                padding-bottom: 1rem;

                @include collapsed {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .products-boxes {
        padding-top: 8rem;
    }

    .buckets {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .buckets-section {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8rem;
        padding-top: 8rem;

        @include collapsed {
            flex-direction: column;
        }

        .bucket {
            flex: 1 1 50%;

            @include collapsed {
                flex: 1 1 auto;
            }

            &.our-impact {
                background-color: color(gray);
                background-image: url('/images/home/buckets/bg-our-impact.jpg');
                background-position: 0 0;
                background-repeat: no-repeat;
                background-size: cover;
                margin-bottom: 0;
                margin-right: 3rem;

                @include collapsed {
                    margin-bottom: 3rem;
                    margin-right: 0;
                    text-align: left;
                }

                @include desktop {
                    margin-bottom: 0;
                }
            }

            .quote {
                &::before {
                    display: none;
                }

                .blurb {
                    max-width: 100%;
                }
            }

            .image {
                display: none;
            }
        }
    }
}
