<template args="model">
    <main id="maincontent">
        <div class="hero w-cards">
            <div class="container-wrap">
                <div class="student"></div>
                    <div class="overlay">
                        <div class="text-block">
                            <h1 class="header">{model.intro_heading}</h1>
                            <p class="blurb"></p>
                        </div>
                    </div>
                </div>
            <div class="square-1"></div>
            <div class="square-2"></div>
        </div>
        <span class="scrolldown-chevron"><a href="#getting-started"><i class="fa fa-chevron-down"></i></a></span>
        <div class="quote-buckets">
            <div class="boxed" skip="true"></div>
        </div>
        <div id="getting-started" class="getting-started">
            <div class="container boxed">
                <div class="header">{model.get_started_heading}</div>
                <ol class="steps">
                    <li class="numbered step">
                        <div class="title">{model.get_started_step_1_heading}</div>
                        <div class="blurb">{model.get_started_step_1_description}</div>
                        <div class="more"><a href="/subjects">{model.get_started_step_1_cta}</a></div>
                    </li>

                    <li class="numbered step">
                        <div class="title">{model.get_started_step_2_heading}</div>
                        <div class="blurb">{model.get_started_step_2_description}</div>
                        <div class="more">
                            <a href="{model.loginLink}" data-local="true">
                                {model.get_started_step_2_cta}
                            </a>
                        </div>
                    </li>

                    <li class="numbered step">
                        <div class="title">{model.get_started_step_3_heading}</div>
                        <div class="blurb">{model.get_started_step_3_description}</div>
                        <div class="more"><a href="/adoption">{model.get_started_step_3_cta}</a></div>
                    </li>
                </ol>

                <div class="step">
                    <div class="title">{model.adopt_heading}</div>
                    <div class="blurb">{model.adopt_description}</div>
                    <div class="more">
                        <a href="/contact?subject=College/University Partnerships">
                            {model.adopt_cta}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="products" skip="true"></div>
        <div class="buckets" skip="true"></div>
    </main>
</template>
