<template args="model">
    <if condition="model.image.image">
        <div class="image" style="background-image: url({model.image.image}){model.height ? `; height: ${model.height}px` : ''}">
        </div>
    </if>
    <div class="quote {model.colorScheme ? model.colorScheme : ''}">
        <blockquote>
            <quote-html></quote-html>
            <div if="model.attribution" class="attribution">— {model.attribution}</div>
        </blockquote>
        <img if="model.overlay" class="overlay" src="{model.overlay}">
        <a if="model.cta" class="btn btn-orange" href="{model.link}">{model.cta}</a>
    </div>
</template>
