<template args="model">
    <div class="text-content subhead">
        <h1>Update us on how you're using OpenStax</h1>
        <p>
            Help us continue to make high-quality educational materials accessible by updating
            us on how your students are using OpenStax! Our future grant funding is based on
            faculty adoptions and the number of students we impact.
        </p>
        <p>
            Not using OpenStax yet? <a href="/interest">Go to our OpenStax interest form</a>
            and we'll send you the information you need.
        </p>
    </div>

    <form accept-charset="UTF-8" class="form"
     action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post">
        <div class="text-content">
            <div>
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="oid" value="00DU0000000Kwch">
                <input type="hidden" name="retURL" value="{`${window.location.origin}/confirmation?adoption`}">
                <input type="hidden" name="lead_source" value="Renewal Form">
            </div>
            <div class="labeled-inputs row">
                <div class="col">
                    <label>
                        First name
                        <span class="invalid-message">{model.validationMessage('first_name')}</span>
                        <input name="first_name" type="text" required>
                    </label>
                    <label>
                        Last name
                        <span class="invalid-message">{model.validationMessage('last_name')}</span>
                        <input name="last_name" type="text" required>
                    </label>
                </div>
                <div class="col">
                    <label>
                        School name
                        <span class="invalid-message">{model.validationMessage('company')}</span>
                        <input name="company" type="text" required>
                    </label>
                    <label>
                        Email address
                        <span class="invalid-message">{model.validationMessage('email')}</span>
                        <input name="email" type="email" required>
                    </label>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <img class="strips" src="/images/components/strips.svg" height="10" alt="" role="presentation">
            <div class="text-content labeled-inputs row book-info">
                <div id="primary-book" class="col">
                    <label>
                        Your OpenStax book:
                        <span class="invalid-message">{model.validationMessage('00NU00000053nzR')}</span>
                        <div skip="true"></div>
                        <select name="00NU00000053nzR" required>
                            <!-- FIX: Manipulate model data to avoid multiple loops -->
                            <option each="title in model.titles" value="{title.value ? title.value : title}">
                                {title.text ? title.text : title}
                            </option>
                        </select>
                    </label>
                    <p>
                        Don't see your book? Fill out our <a href="/interest">interest form</a>.
                    </p>

                    <label>
                        How are you using this book? <small><i>(optional)</i></small>
                        <span class="invalid-message">{model.validationMessage('00NU00000055spw')}</span>
                        <div skip="true"></div>
                        <select name="00NU00000055spw">
                            <option each="key in model.salesforce" value="{key.value}">{key.text}</option>
                        </select>
                    </label>

                    <label>
                        How many students are using this book in your courses each semester?
                        <span class="invalid-message">{model.validationMessage('00NU00000052VId')}</span>
                        <input name="00NU00000052VId" type="number" min="0" required>
                    </label>

                    <label>
                        Which partner resources are you using with your book?
                        <span class="invalid-message">{model.validationMessage('00NU0000005VmTu')}</span>
                        <div skip="true"></div>
                        <select multiple name="00NU0000005VmTu">
                            <option each="partner in model.partners" value="{partner}">{partner}</option>
                            <option value="" data-other="other-partner">Other (specify below)</option>
                        </select>
                    </label>

                    <label id="other-partner">
                        Other
                        <span class="invalid-message">{model.validationMessage('00NU0000005Vls8')}</span>
                        <input name="00NU0000005Vls8" class="short" type="text"
                        placeholder="Partner resources not listed above?">
                    </label>

                    <label class="question">
                        Which of our partners would you like to give permission to contact you about additional resources to support our books?
                        <span class="invalid-message">{model.validationMessage('00NU00000055spm')}</span>
                        <div skip="true"></div>
                        <select multiple name="00NU00000055spm">
                            <option value="Online homework partners">Online homework partners</option>
                            <option value="Adaptive courseware partners">Adaptive courseware partners</option>
                            <option value="Customization tool partners">Customization tool partners</option>
                        </select>
                    </label>
                </div>

                <div class="col">
                    <label class="question">
                        Are you interested in having your OpenStax experience featured
                        on our website, social media, and/or emails?
                        <span class="invalid-message">{model.validationMessage('00NU00000055sq6')}</span>
                        <div skip="true"></div>
                        <select name="00NU00000055sq6">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </label>

                    <label class="question">
                        May we contact you about opportunities to participate in future
                        pilots or research studies?
                        <span class="invalid-message">{model.validationMessage('00NU00000055sqB')}</span>
                        <div skip="true"></div>
                        <select name="00NU00000055sqB">
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                        </select>
                    </label>

                    <label>
                        Do you have any feedback you'd like to share? <small><i>(optional)</i></small>
                        <span class="invalid-message">{model.validationMessage('00NU00000056Rls')}</span>
                        <textarea cols="50" name="00NU00000056Rls" rows="10"></textarea>
                    </label>

                    <div class="cta">
                        <input name="commit" class="btn" type="submit" value="Submit" role="button" aria-disabled="false">
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>
