// OpenStax Color Scheme
$os-colors: (
    red: rgb(194, 32, 50),
    orange: rgb(244, 118, 65),
    yellow: rgb(244, 208, 25),
    gold: rgb(254, 189, 62),
    green: rgb(119, 175, 66),
    deep-green: rgb(12, 147, 144),
    turquoise: rgb(45, 151, 147),
    cyan: rgb(13, 192, 220),
    blue: rgb(0, 36, 106),
    gray: rgb(94, 96, 98)
);

@function os-color($color) {
    @if map-has-key($os-colors, $color) {
        @return map-get($os-colors, $color);
    }

    @warn 'Unknown `#{$color}` in $os-color.';
    @return null;
}

$text-dark: #424242;

// OpenStax Grayscale Scheme
$neutral-colors: (
    darkest: black,
    dark: rgb(51, 51, 51),
    medium: os-color(gray),
    light: rgb(154, 154, 155),
    lighter: rgb(220, 220, 220),
    lightest: white
);

@function neutral-color($color) {
    @if map-has-key($neutral-colors, $color) {
        @return map-get($neutral-colors, $color);
    }

    @warn 'Unknown `#{$color}` in $neutral-colors.';
    @return null;
}

$color-types: (
    primary: os-color(blue),
    secondary: os-color(orange),
    tertiary: os-color(yellow),
    success: os-color(green),
    info: os-color(cyan),
    warning: os-color(yellow),
    danger: os-color(red)
);

@function color($color, $overlay: false) {
    @if map-has-key($os-colors, $color) {
        @return map-get($os-colors, $color);
    }

    @if str-index($color, 'neutral-') {
        $neutral-color: str-slice($color, 9);
        @if map-has-key($neutral-colors, $neutral-color) {
            @return map-get($neutral-colors, $neutral-color);
        }
    }

    @if map-has-key($color-types, $color) {
        @return map-get($color-types, $color);
    }

    @warn 'Unknown `#{$color}` in $colors.';
    @return null;
}

// Text Colors
$text-color-light: color(neutral-light);
$text-color-dark: color(neutral-dark);

// Link Colors
$link-color-light: $text-color-light;
$link-color-dark: color(primary);

// Background Colors
$background-color-light: color(neutral-lightest);
$background-color-dark: color(neutral-dark);

// Structural element colors
$divider-gray: rgba(0, 0, 0, 0.12);

$page-top-gradient: linear-gradient(to bottom,
    lighten(color(neutral-lighter), 9.7%) 0%,
    lighten(color(neutral-lighter), 11.7%) 2%,
    color(neutral-lightest) 5%
);
