$breakpoints: (
    phone: 480px,
    tablet: 768px
);

$boxed-width: 1200px; // For @media, 120rem != 1200px

@function breakpoints($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @return map-get($breakpoints, $breakpoint);
    }

    @warn 'Unknown `#{$breakpoint}` in $breakpoints.';
    @return null;
}
