<img class="strips" src="/images/components/strips.svg" height="10" alt="" role="presentation">
<main id="maincontent" class="boxed">
    <h1>Accessibility</h1>
    <p>
        At OpenStax, we're committed to ensuring that our websites and learning
        materials are as accessible as possible to the widest possible audience.
    </p>

    <h2>Web Accessibility</h2>
    <p>
        Our goal is to ensure that all OpenStax websites and the “Web View”
        versions of our learning materials follow accessible web design best
        practices, so that they will meet the W3C-WAI Web Content Accessibility
        Guidelines (WCAG) 2.0 at Level A and Section 508 of the Rehabilitation Act.
    </p>

    <h2>Feedback</h2>
    <p>
        You can help us to meet our accessibility goals by letting us know about
        your experience using OpenStax by emailing us at info@openstax.org.
    </p>
    <p>
        If you've encountered an accessibility problem with one of our websites
        or the “Web View” version of one of our learning materials, please
        provide the following information:
    </p>
    <ul>
        <li>A description of what happened.</li>
        <li>Links to the web pages or the name of the “Web View” material(s).</li>
        <li>The name of your browser (e.g. Firefox 37, Safari 7, Chrome 42, etc.).
            If possible, please also provide the version number.</li>
        <li>The name of your operating system (e.g. Windows 7, iOS 6, Android 4.4,
            etc.). If possible, please also provide the version number.</li>
        <li>Any assistive technology that you are using (e.g. JAWS, VoiceOver,
            Dragon, etc.).</li>
    </ul>

    <h2>Interactive Simulations</h2>
    <p>
        Some learning materials include links to interactive simulations (e.g.
        PhET physics simulations developed by the University of Colorado). While
        simulations are more difficult to make accessible than more conventional
        static textbook content, an effort to improve the accessibility of many
        PhET simulations is underway. As with any OpenStax feature, your feedback
        about the accessibility of the PhET simulations is welcome at:
        info@openstax.org.
    </p>

    <h2>User-Contributed Content</h2>
    <p>
        In some cases, OpenStax websites include third-party user-contributed
        content. In these cases, it is often not possible to ensure accessibility
        of the submitted content. However, our goal is to continuously improve the
        authoring tools provided by OpenStax for use by those third-parties, in
        order to increase the likelihood that accessible content will be produced.
    </p>
</main>
