@import 'variables';
@import 'mixins';

.accessibility-page {

    .boxed {
        display: flex;
        flex-flow: column nowrap;
        margin: 0 auto 4rem;
        max-width: $boxed-width;
        padding: 0 1.5rem;
    }

}
