@import 'variables';
@import 'mixins';

.finish-profile {

    h1 {
        font-size: 4.8rem;
    }

    h2 {
        margin-top: 4rem;

        @include desktop {
            text-align: center;
        }
    }

    .row {
        padding: 0;
        width: 100%;
    }

    .form-hidden {
        transform: scale3d(0, 0, 0);
        visibility: hidden;

        @include phone {
            height: 0;
            overflow: hidden;
            width: 0;
        }
    }

    .faculty-section {
        padding: 4rem 0 0;
    }

    .cta {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        padding-right: 1.5rem;

        > .btn {
            font-size: 1.4rem;
            font-variant: normal;
            text-transform: uppercase;
            width: auto;
        }
    }

    .form {
        padding: 4rem 0;

        &.faculty .cta {
            @media (min-width: 481px) {
                float: right;
                position: relative;
                top: -10rem;
            }
        }
    }

    .checkboxes {
        margin-top: 4rem;
    }

    [type="submit"]:disabled {
        background-color: color(neutral-light);
    }
}
