<main id="maincontent">
    <div class="book-banners"></div>
    <span class="scrolldown-chevron"><a href="#education"><i class="fa fa-chevron-down"></i></a></span>
    <div class="quote-buckets"></div>
    <div id="education" class="education"></div>
    <div class="buckets"></div>
</main>
