@import 'variables';
@import 'mixins';

@mixin tablet {
    @media (min-width: #{breakpoints(phone) + 1}) {
        @content;
    }
}

@mixin desktop-plus {
    @media (min-width: 1025px) {
        @content;
    }
}
@mixin banner(
    $subject,
    $book-color,
    $now-i-can-color,
    $now-i-can-width,
    $underline-width,
    $square-color,
    $subject-button-color,
    $all-subject-button-color
) {
    background-color: $book-color;
    height: 45rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: opacity 0.2s;
    width: 100%;

    @include tablet {
        background-color: transparent;
        height: 60rem;
    }

    @include desktop {
        height: 65rem;
    }

    .background-image {
        display: none;

        @include tablet {
            background-image: url("/images/home/subjects/#{$subject}/background.jpg");
            background-position: center top;
            background-size: cover;
            content: ' ';
            display: block;
            height: 70rem;
            left: 0;
            position: fixed;
            top: 0;
            width: 100%;
            will-change: transform;
            z-index: 1;
        }
    }


    &.fadein {
        opacity: 1;
    }

    > .container {
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        margin: 0 auto;
        max-width: 120rem;
        padding: 0 1.5rem;
        position: relative;

        @include tablet {
            flex-direction: row;
        }
    }

    .square-1,
    .square-2,
    .square-3,
    .square-4 {
        background-color: $square-color;
        display: none;
        position: absolute;
        transform: translateZ(0);
        z-index: 1;

        @include desktop-plus {
            animation: flyin 0.5s 1.2s 1 normal ease-in forwards;
            display: block;
        }

        &.flyout {
            @include desktop-plus {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .feature,
    .book,
    .student {
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        transform: translateZ(0);
        z-index: 1;
    }

    .feature {
        display: none;

        @include desktop-plus {
            animation: flyin 0.5s 1.4s 1 normal ease-in forwards;
            display: block;
        }

        &.flyout {
            @include desktop-plus {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .book {
        background-color: $book-color;
        background-image: url('/images/subjects/#{$subject}.svg');
        background-position: top left;
        height: calc(30vw + 15rem);
        left: 0;
        top: 1.5rem;
        width: calc(30vw + 15rem);

        @include desktop-plus {
            animation: flyin 0.5s 1s 1 normal forwards;
        }

        &.flyout {
            @include desktop-plus {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }
    }

    .student {
        background-image: url('/images/home/subjects/#{$subject}/student.png');
        background-position: center bottom;
        bottom: 15rem;
        height: 60%; // Bounds height; use width in individual pages to control size
        z-index: 2;

        @include tablet {
            bottom: 0;
        }

        @include desktop-plus {
            bottom: 0;
        }
    }

    .align-edge {
        bottom: 1.5rem;
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        width: calc(100% - 3rem);

        @include tablet {
            width: auto;
        }

        &.right {
            align-items: flex-end;
        }
    }

    .now-i-can {
        background-color: $now-i-can-color;
        color: color(neutral-lightest);
        display: none;
        font-size: 3rem;
        width: $now-i-can-width;

        @media (min-width: 650px) {
            display: initial;
            font-size: 3.6rem;
            font-weight: 500;
            height: 2.5em;
            line-height: 2.5;
            margin-bottom: 1.5rem;
            padding: 0;
            text-align: center;
            text-transform: none;
            z-index: 3;
        }

        @include desktop-plus {
            animation: flyin 0.5s 1.8s 1 normal forwards;
        }

        &::after {
            border-bottom: 0.1rem solid color(neutral-lightest);
            content: '';
            position: absolute;
            right: 1.5rem;
            top: 1.8em;
            width: $underline-width;
        }

        &.flyout {
            @include desktop-plus {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }

        .quote {
            display: inline-block;
            font-family: 'Permanent Marker', cursive;
            transform: rotate(-0.9deg) translate(0.25em, -0.1em);
        }

    }

    .subject-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        z-index: 3;

        @media (min-width: 500px){
            flex-direction: row;
            min-width: 47rem;
        }

        @include desktop-plus {
            animation: flyin 0.5s 1.8s 1 normal forwards;
            left: 15.6rem;

            &.flyout {
                animation: flyout 0.5s 1 normal forwards;
                opacity: 1;
            }
        }

        .btn {
            color: color(neutral-lightest);
            font-size: 1.6rem;
            height: 6rem;
            line-height: 6rem;
            padding: 0 1.5rem;
            width: 100%;

            @media (min-width: 500px) {
                flex-basis: 12em;
                flex-grow: 1;
            }

            @include desktop-plus {
                width: auto;
            }
        }

        .explore-subject {
            margin-bottom: 1.5rem;
            margin-right: 1.5rem;
        }
    }

    .subject-links {
        @include tablet {
            width: 45rem;
        }
    }

    .explore-subject {
        @include tablet {
            background-color: $subject-button-color;
        }

        &:hover {
            background-color: darken($subject-button-color, 5%);
        }
    }

    .explore-all {
        @include tablet {
            background-color: $all-subject-button-color;
        }

        &:hover {
            background-color: darken($all-subject-button-color, 5%);
        }
    }
}

.home-page {
    background-color: lighten(color(neutral-lighter), 8%);
    flex: 1 0 auto;

    @include desktop {
        margin-top: -6rem;
    }

    .book-banners {
        height: 45rem;
        position: relative;

        @include tablet {
            height: 60rem;
        }

        @include desktop {
            height: 65rem;
        }

        .flyin,
        .flyout {
            @include desktop-plus {
                opacity: 0;
            }
        }

        .banner.astronomy {
            @include banner(
                astronomy,
                color(blue),
                rgba(color(cyan), 0.85),
                61rem,
                39rem,
                rgba(color(blue), 0.3),
                color(gold),
                color(blue)
            );

            .chart {
                background-image: url('/images/home/subjects/astronomy/chart.png');
                bottom: 6rem;
                height: 19rem;
                position: absolute;
                right: 4rem;
                width: 19rem;
            }

            .equation {
                background-image: url('/images/home/subjects/astronomy/equation.png');
                height: 14rem;
                left: 19rem;
                position: absolute;
                top: 19rem;
                width: 14rem;
            }

            .square-1 {
                height: 3.5rem;
                left: 13rem;
                top: 60%;
                width: 3.5rem;
            }

            .square-3 {
                @include tablet {
                    bottom: 0;
                    display: block;
                    height: 34rem;
                    left: 0;
                    width: 45rem;
                }

                @include desktop {
                    height: 17rem;
                    left: 29rem;
                    top: 40rem;
                    width: 36rem;
                }
            }

            .square-4 {
                @include tablet {
                    bottom: 15rem;
                    display: block;
                    height: 26rem;
                    right: 0;
                    width: 26rem;
                }

                @include desktop {
                    height: 43rem;
                    left: 64rem;
                    top: 24rem;
                    width: 43rem;
                }
            }

            .book {
                @include tablet {
                    height: 28rem;
                    left: calc(52.3% - 15.7rem);
                    top: 10vw;
                    width: 28rem;
                }

                @media (max-width: 360px) {
                    right: auto;
                }

                @include desktop {
                    left: 37%;
                    top: 10rem;
                }
            }

            .student {
                right: 1.5rem;
                width: calc(35% + 15rem);

                @include tablet {
                    bottom: -0.1rem;
                    height: calc(20vw + 35.5rem);
                    left: calc(65% - 28.7rem);
                    width: calc(20vw + 35.5rem);
                }

                @include desktop {
                    height: 56rem;
                    left: 36%;
                    width: 56rem;
                }
            }

            .align-edge {
                @include tablet {
                    bottom: 5.5rem;
                    left: calc(22vw - 9.1rem);
                }

                @include desktop {
                    left: 9rem;
                }
            }
        }

        .banner.biology {
            @include banner(
                biology,
                color(green),
                rgba(color(gray), 0.85),
                50rem,
                29rem,
                rgba(color(green), 0.3),
                color(gold),
                color(green)
            );

            .diagram {
                background-image: url('/images/home/subjects/biology/diagram.png');
                bottom: 6rem;
                height: 19rem;
                left: 5rem;
                width: 27.4rem;
            }

            .leaf {
                background-image: url('/images/home/subjects/biology/leaf.png');
                height: 14rem;
                right: 19rem;
                top: 24rem;
                width: 14rem;
            }

            .square-1 {
                height: 3.5rem;
                left: 13rem;
                top: 60%;
                width: 3.5rem;
            }

            .square-3 {
                @include tablet {
                    bottom: 0;
                    display: block;
                    height: 34rem;
                    left: 0;
                    width: 45rem;
                }

                @include desktop {
                    height: 17rem;
                    left: 29rem;
                    top: 40rem;
                    width: 36rem;
                }
            }

            .square-4 {
                @include tablet {
                    bottom: 15rem;
                    display: block;
                    height: 26rem;
                    right: 0;
                    width: 26rem;
                }

                @include desktop {
                    height: 43rem;
                    left: 64rem;
                    top: 24rem;
                    width: 43rem;
                }
            }

            .book {
                background-position: center right;
                background-size: 130%;
                left: -2rem;
                top: -1rem;

                @include tablet {
                    background-position: center right;
                    height: 28rem;
                    left: calc(52.3% - 15.7rem);
                    top: 10vw;
                    width: 28rem;
                }

                @include desktop {
                    left: 37%;
                    top: 10rem;
                }
            }

            .student {
                background-position: 92% 100%;
                right: calc(20% - 4rem);
                width: calc(30% + 13rem);

                @include tablet {
                    height: calc(20vw + 33.3rem);
                    left: -10%;
                    width: 45.4rem;
                }

                @include desktop {
                    height: 53rem;
                    left: 10%;
                    width: 45.4rem;
                }
            }

            .align-edge {
                @include tablet {
                    bottom: 5.5rem;
                    left: calc(50% - 22.7rem);
                }

                @include desktop {
                    left: calc(49% - 6rem);
                }
            }
        } // .banner.biology

        .banner.chemistry {
            @include banner(
                chemistry,
                color(orange),
                rgba(color(gray), 0.85),
                41rem,
                19rem,
                rgba(color(orange), 0.15),
                color(orange),
                color(turquoise)
            );

            .book {
                @include tablet {
                    background-position: bottom left;
                    height: 30rem;
                    left: auto;
                    right: calc(44% - 2.5rem);
                    top: calc(13vw - 6.2rem);
                    width: 30rem;
                }

                @include desktop {
                    right: 45%;
                    top: 7.1rem;
                }
            }

            .student {
                bottom: 15rem;
                height: 25rem;
                position: absolute;
                right: 2.5rem;
                width: 22rem;
                z-index: 2;

                @include tablet {
                    bottom: 0;
                    height: 53rem;
                    right: calc(19% - 6.6rem);
                    width: calc(20% + 24rem);
                }

                @include desktop {
                    right: calc(43% - 30rem);
                    width: 44.4rem;
                }
            }

            .square-1,
            .square-4 {
                height: 2.5rem;
                width: 2.5rem;
            }

            .square-1 {
                left: 5rem;
                top: 50%;
            }

            .square-2 {
                bottom: 0;
                height: 34rem;
                left: 0;
                width: 45rem;

                @include tablet {
                    display: block;
                }

                @include desktop {
                    bottom: auto;
                    height: 34rem;
                    top: 27%;
                    width: 60%;
                }
            }

            .square-3 {
                bottom: 15rem;
                height: 26rem;
                right: 0;
                width: 26rem;

                @include tablet {
                    display: block;
                }

                @include desktop {
                    bottom: 5rem;
                    height: 33rem;
                    right: 5rem;
                    width: 40rem;
                }
            }

            .square-4 {
                left: 70%;
                top: 20%;
            }

            .element {
                background-image: url('/images/home/subjects/chemistry/element.png');
                bottom: 10rem;
                height: 12rem;
                position: absolute;
                right: 0;
                width: 12rem;
            }

            .align-edge {
                bottom: 1.5rem;
                left: 1.5rem;

                @include tablet {
                    bottom: calc(5vw - 0.9rem);
                    left: calc(20% - 8.1rem);
                }

                @include desktop {
                    bottom: 5rem;
                }
            }
        } // .banner.chemistry

        .banner.us-history {
            @include banner(
                us-history,
                color(blue),
                rgba(color(turquoise), 0.85),
                56rem,
                32rem,
                rgba(color(blue), 0.15),
                color(orange),
                color(blue)
            );

            .book {
                width: calc(40% + 6rem);

                @include tablet {
                    height: 30rem;
                    left: auto;
                    right: calc(30% + 3rem);
                    top: 5%;
                    width: 30rem;
                }

                @media (min-width: #{breakpoints(tablet) + 1}) {
                    top: 15%;
                }
            }

            .student {
                right: calc(20% - 4rem);
                width: calc(30% + 11rem);

                @include tablet {
                    height: 53rem;
                    right: calc(20% - 10.4rem);
                    width: calc(20vw + 24.9rem);
                }

                @include desktop {
                    height: 53rem;
                    right: calc(15% - 5rem);
                    width: 45.4rem;
                }
            }

            .square-1,
            .square-4 {
                height: 2.5rem;
                width: 2.5rem;
            }

            .square-1 {
                left: 5rem;
                top: 50%;
            }

            .square-2 {
                bottom: 0;
                height: 34rem;
                left: 0;
                width: 45rem;

                @include tablet {
                    display: block;
                }

                @include desktop {
                    bottom: auto;
                    height: 34rem;
                    top: 27%;
                    width: 60%;
                }
            }

            .square-3 {
                bottom: 15rem;
                height: 26rem;
                right: 0;
                width: 26rem;

                @include tablet {
                    display: block;
                }

                @include desktop {
                    bottom: 5rem;
                    height: 33rem;
                    right: 5rem;
                    width: 40rem;
                }
            }

            .square-4 {
                left: 70%;
                top: 20%;
            }

            .sacajawea {
                background-image: url('/images/home/subjects/us-history/sacajawea.png');
                height: 10rem;
                left: calc(70% - 53rem);
                position: absolute;
                top: 44%;
                width: 12.4rem;
            }

            .john-adams {
                background-image: url('/images/home/subjects/us-history/john-adams.png');
                height: 8rem;
                position: absolute;
                right: 14rem;
                top: 30%;
                width: 6.7rem;
            }

            .clermont {
                background-image: url('/images/home/subjects/us-history/clermont.png');
                bottom: 10rem;
                height: 22rem;
                position: absolute;
                right: 0;
                width: 36rem;
            }

            .align-edge {
                @include tablet {
                    bottom: 5.5rem;
                    left: calc(20% - 7.4rem);
                }

                @include desktop {
                    left: 14rem;
                }
            }
        } // .banner.us-history
    } // .book-banners

    .buckets {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .buckets-section {
        padding-bottom: 8rem;
        padding-top: 8rem;

        .bucket {
            &:first-child {
                margin-bottom: 1.5rem;

                @include desktop {
                    margin-bottom: 5rem;
                }
            }
        }
    }
}

.quote-buckets {
    .attribution {
        margin-left: 2rem;
        text-align: right;
    }
}
