<template args="model">
    <div if="model.hasImage" class="image"></div>
    <div class="quote">
        <div>
            <span class="title">{model.heading}</span>
            <blurb-html class="blurb"></blurb-html>
        </div>
        <a class="btn {model.btnClass}" href="{model.link}">{model.cta}</a>
    </div>
</template>
