@import 'variables';
@import 'mixins';

$breakpoint-1: 908px;
$breakpoint-2: 761px;
$iphone-five: 374px;
$hero-break-width: 880px;

.impact-page {

    &.hidden {
        display: none;
    }

    .hero {
        align-items: center;
        background-color: color(green);
        background-image: url('/images/impact/banner-bg.jpg');
        background-size: cover;
        display: flex;
        height: 60rem;
        justify-content: center;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 100%;

        @media (max-width: $hero-break-width) {
            min-height: 0;
        }

        @include collapsed {
            align-items: stretch;
            background: none;
            // height: calc(100vh - 6rem);
            max-height: 53rem;
        }

        .container-wrap {
            display: flex;
            flex-flow: column wrap;
            margin: 0 auto;
            max-width: $boxed-width;
            width: 100%;
            z-index: 1;

            @include collapsed {
                align-items: stretch;
                flex-flow: row wrap;
            }

        }

        .student {
            background-image: url('/images/impact/banner.png');
            background-position: 0 bottom;
            background-repeat: no-repeat;
            background-size: 100% auto;
            bottom: 0;
            height: 100%;
            left: -16rem;
            overflow: hidden;
            position: absolute;
            transition: All ease 0.2s;
            width: calc(50rem + 30%);

            @media screen and (min-width: $boxed-width + 1) {
                left: 0;
                width: 86rem;
            }

            @include collapsed {
                background-position: left 1.8rem;
                background-size: contain;
                bottom: 0;
                height: calc(30% + 34vw);
                left: calc(10rem - 34%);
                z-index: 1;
            }
        }

        .overlay {
            color: color(neutral-lightest);
            display: flex;
            justify-content: flex-end;
            padding: 4rem;
            z-index: 2;

            @media screen and (min-width: $boxed-width + 1) {
                padding-left: calc(-61rem + 55%);
            }

            @include collapsed {
                background-color: color(green);
                width: 100%;
                z-index: 0;
            }

            .text-block {
                background-color: rgba(saturate(color(green), 10%), 0.85);
                flex-basis: 50%;
                padding: 4rem;

                @media screen and (min-width: $breakpoint-2) and (max-width: $hero-break-width) {
                    flex-basis: 60%;
                }

                @include collapsed {
                    background: none;
                    flex-basis: 100%;
                    padding: 0;
                }
            }

            h1 {
                color: inherit;
                line-height: 0.8;

                @media screen and (max-width: $iphone-five) {
                    font-size: 4.5rem;
                }
            }

            .blurb {
                font-size: 1.8rem;
                padding: 1em 0;

                @include collapsed {
                    display: none;
                }
            }
        }

        .square-1,
        .square-2 {
            background-color: color(green);
            opacity: 0.3;
            position: absolute;

            @media (max-width: $breakpoint-1) {
                display: none;
            }
        }

        .square-1 {
            height: 16.8rem;
            left: 46%;
            top: 3.5rem;
            width: 17.8rem;
        }

        .square-2 {
            height: 39rem;
            left: 7.71%;
            top: 15.6rem;
            width: 72rem;
        }

    }

    .cta .btn {
        color: color(neutral-lightest);
        font-size: 110%;
        margin-top: 3.5rem;
    }

    .affiliates {
        color: color(gray);
        text-align: center;

        h2,
        a {
            color: inherit;
        }

        h2 {
            @include constrained-variable-text(4.8, 0.2);

            font-weight: 500;
            letter-spacing: -0.15rem;
        }

        p,
        .cta {
            @include constrained-variable-text(1.8, 0.2);

            line-height: 1.7;
            margin-left: 4rem;
            margin-right: 4rem;
        }

        .text-content {
            margin: 0 auto;
            padding: 5rem 0;
            width: 78vw;

            @include phone {
                padding: 5rem 1.5rem;
                width: 100%;
            }
        }

        .partners {
            align-items: center;
            border-bottom: 0.4rem solid rgba(color(neutral-light), 0.10);
            border-top: 0.4rem solid rgba(color(neutral-light), 0.10);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            max-width: $boxed-width;
            padding: 1.5rem 0 0;

            @media (max-width: $breakpoint-1) {
                justify-content: space-around;
            }

            > li {
                flex: 1 1 20%;
                padding: 4rem;

                @media (max-width: $hero-break-width) {
                    flex: 1 1 auto;
                }

                a {
                    transition: All ease-in-out 0.3s;

                    &:hover,
                    &:focus {
                        opacity: 0.7;
                    }
                }

                img {
                    max-width: 12rem;
                }
            }
        }

        .adopters {
            padding: 4rem 1.5rem 5rem;

            a {
                font-size: 1.4rem;
                font-weight: 500;
                position: relative;
                text-transform: uppercase;

                i {
                    position: relative;

                    &::after {
                        @include triangle(
                            $direction: right,
                            $position: top 0.32rem right -1.6rem,
                            $color: color(cyan),
                            $size: 0.5rem
                        );
                    }
                }

            }
        }
    }

    .strips {
        margin-bottom: 0;
    }
}
