<template args="model">
    <div class="image"></div>
    <div class="caption">
        <h3 class="title">{model.title}</h3>
        <p class="blurb">{model.blurb}</p>
        <a class="btn" href="{model.url}">{model.linkText}</a>
    </div>
</template>
