<template args="model">
    <div class="container" data-html="page_description" skip="true"></div>

    <div class="books">
        <img class="strips" src="/images/components/strips.svg" height="10" alt="" role="presentation">
        <div class="filter" skip="true"></div>
        <div class="container" skip="true"></div>
        <div class="feature-block">
            <div class="container" if="model.dev_standard_1_heading">
                <h2>About Our Textbooks</h2>
                <div class="blurb">
                    <h3 class="title">{model.dev_standard_1_heading}</h3>
                    <p class="text" data-html="dev_standard_1_description" skip="true"></p>
                </div>
                <div class="blurb">
                    <h3 class="title">{model.dev_standard_2_heading}</h3>
                    <p class="text" data-html="dev_standard_2_description" skip="true"></p>
                </div>
                <div class="blurb">
                    <h3 class="title">{model.dev_standard_3_heading}</h3>
                    <p class="text" data-html="dev_standard_3_description" skip="true"></p>
                </div>
            </div>
        </div>
    </div>
</template>
